*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.center{
    font-family: 'Kodchasan';
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.left h1{
    font-family: 'kristi';
    font-size: 80px;
    font-weight: 400;
    margin-top:20px ;
    margin-bottom:20px ;
}
.left h3{
    font-family: 'kodchasan';
    background-color: rgb(255, 255, 255);
    padding: 2px;
    width: 150px;
    text-align: center;
    border-left: 4px solid rgb(17, 77, 17);

}
.right{
    font-family: 'chilanka';
    
}
#like{
    color: red;
    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.right h3{
    background-color:rgb(128, 58, 185) ;
    padding: 10px;
    border-radius: 3px;
    color: white ;
    font-weight: 200;
    box-shadow: 1px 3px 5px rgb(155, 155, 155);

}
.left, .right,.center{
    padding: 20px;
}
.center h2{
    border-bottom: 2px solid black;        }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
 /* For mobile phones: */
[class*="col-"] {
width: 100%;
    }
}

#back_button{
    position: fixed;
     right: 23px;
    bottom: 23px;
    z-index: 998;
    color: aliceblue;
    background-color: rgb(31,37,82);
    text-decoration: none;
    width: 50px;
    height: 50px;

    text-align: center;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.3s;
}

#back_button:hover{
    height: 60px;
    width: 60px;
    right: 18px;
    bottom: 18px;
    box-shadow: 4px 8px 15px #494949;

}

#back_button h3{
  margin: 0;

}
.center img{
    width: 100%;
}
.center span{
    font-weight: 700;
    border-left: 2px solid black;
    padding-left: 2px;
}
.footer{
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-wrap:wrap ;
    font-family: 'kodchasan';
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
 }
 .footer a{
     color: rgb(255, 255, 255);

 }
 .footer-left, .footer-right{
     margin: auto;
     font-family: 'kodchasan';
 }
 .footer-left h2{
     border-bottom: 2px solid white;
 }
 .copyright{
     background-color: rgb(15, 15, 15);
     margin: 0;
     padding: 10px;
     color: white;
     text-align: center;
     font-family: 'chilanka';
 }